#title{
    background-color: #ff4c68;
}
#intro{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
#navbar-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight:bold;
}
.nav-item{
    padding:0 18px;
    
}
.nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat-Light";
}
.download-button{
    margin: 5% 3% 5% 0;
}
.phone-image{
    
    width:20%;
    transform: rotate(25deg);
    position: absolute;
    right:20%;
}
#features{
    position:relative;
    background-color: #fff;

}
.feature-co{
    text-align: center;
    padding:5%;
}
.feature-heading{
    font-size:1.5rem;
}
.feature-description{
    color:#8f8f8f;
    font-family: "Montserrat-bold";
}
.icon{
    font-size: 3rem;
    color:#ef8172;
    padding:1rem;
}
.icon:hover{
    color:#ff4c68;
}
#testimonials{
    padding: 7% 15%;
    background-color: #ef8172;
    text-align: center;
    color:#fff;
}
.testimonial-h2{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
}
#press{
    padding-bottom: 3%;
    background-color: #ef8172;
    text-align: center;
    
}
.press-image{
    width:15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding:100px;
}
.pricing-column{
    padding: 2% 3%;
}
.pricing-h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
@media(max-width:995px){
    .title{
        text-align: center;
    }
    .phone-image{
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}
#cta{
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
    

}
#cta-h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color:#fff;
}
.cta-button{
    margin:5% 2%;
}
#footer{
    padding:7% 15%;
    background-color: #fff;
    text-align: center;
}
.footer-icon{
    margin: 3% 1%;
}